<!-- rodape -->

<footer>

    <div class="page-footer font-small bg-secondary pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-withe">Siga-nos nas redes sociais :)</h4>
                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <ul class="social-network">
                            <li>
                                <a href="https://web.facebook.com/profile.php?id=100009259196845" target="_blank"
                                    class="face">
                                    <img src="https://i.imgur.com/1DkEWHx.png" alt="iconeFacebook" width="30px"
                                        height="30px">
                                </a>
                            </li>
                        </ul>

                        <ul class="social-network">
                            <li>
                                <a href="https://www.instagram.com/viniciusswell/" target="_blank" class="insta">
                                    <img src="https://i.imgur.com/Pk4nrki.png" alt="iconeInstagram" width="30px"
                                        height="30px">
                                </a>
                            </li>
                        </ul>

                        <ul class="social-network">
                            <li>
                                <a href="https://www.linkedin.com/in/vinicius-g/" target="_blank" class="linke">
                                    <img src="https://i.imgur.com/4rzuIf1.png" alt="iconeLinkedin" width="30px"
                                        height="30px">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">2020 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>

</footer>

<!-- rodape -->